.App {
  text-align: center;
	width: 100%;
	height: 100%;
}

.App-logo {
  animation: App-logo-spin 1 1s linear forwards;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  0% {opacity: 1;}
	100% {opacity: 0;}
}

.menu-circle {
	animation: MenuCircle 1 1s linear forwards;
}

@keyframes MenuCircle {
	0% {opacity: 1;}
	100% {opacity: .25;}
}
